<!-- ©2024, ANSYS Inc. Unauthorized use, distribution or duplication is prohibited. -->

@page "/"

<PageTitle>Home</PageTitle>

Platform Integrity Checker allows to assess CISL deployment integrity:
<ul>
    <li>Provide health checks for core platform services, namely API Gateway, IAM & o11y.</li>
    <li>Ensure routing is correctly configured by exposing a fully qualified domain name through the API Gateway service.</li>
    <li>Ensure authentication is correctly configured, leveraging a dedicated oauth-proxy to interact with IAM service.</li>
    <li>Ensure observability is correctly configured, exporting both frontend and backend telemetry to o11y service.</li>
</ul>

<img src="/img/c4_d.png" width="100%"/>