@* Copyright (C) 2025 ANSYS, Inc. and/or its affiliates. *@

@page "/"

<PageTitle>Home</PageTitle>

Platform Integrity Checker allows to assess deployment integrity:
<ul>
    <li>Ensure routing is correctly configured by exposing a fully qualified domain name through the API Gateway service.</li>
    <li>Ensure authentication is correctly configured by exercising IAM service.</li>
    <li>Ensure observability is correctly configured by exporting both frontend and backend telemetry to o11y service.
    </li>
</ul>
